{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "jsxSingleQuote": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "printWidth": 150,
    "useTabs": false
}
